################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Websites
/Videos
/UsersAlvinsourcereposExercise-Queue-2022-11-02Exercise-Queue-2022-11-02
/source
/Searches
/Saved Games
/Pictures
/OneDrive
/ntuser.ini
/NTUSER.DAT{06f81cf5-279f-11eb-8e1e-ba942e6249c8}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{06f81cf5-279f-11eb-8e1e-ba942e6249c8}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{06f81cf5-279f-11eb-8e1e-ba942e6249c8}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/MicrosoftEdgeBackups
/Links
/IntelGraphicsProfiles
/Favorites
/Documents
/Desktop
/Contacts
/AppData
/3D Objects
/.vscode
/.ssh
/.nuget
/.librarymanager
/.gitconfig
/.dotnet
/.config
/.bash_history
/.android
